
.gradient{
    background: linear-gradient(90deg, rgba(255,221,236,1) 0%, rgba(249,153,195,1) 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}




.header-intro{
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    align-items: center;


    position: fixed;
    // z-index: 1;
    // top: 0;
    // left: 0;
    width: 100%;
    // height: 100vh;
    transition: 1s;
    text-align: center;
    .box-portfolio{
        // position: absolute;
        // top: 26%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        color: white;
        width: 100%;
    }
}
/* Pon esto en tu hoja que se cargue DESPUÉS de Tailwind */
.port-web{
    display: inline-block;              /* <- si era inline, esto lo arregla */
    opacity: 0 !important;              /* testea si te lo pisa Tailwind */
    transform: translate3d(0,60px,0) !important;
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
    font-size: 4.5rem;
    font-weight: bold;
    margin-right: 0.7rem;
  }
  
  .port-web.active{
    opacity: 1 !important;
    transform: translate3d(0,0,0) !important;
  }
  


  .welcome-to{
    display: inline-block;                      /* importante si era inline */
    opacity: 0;
    transform: translateX(-100px);               /* más a la izquierda si quieres */
    transition: opacity .9s ease-in-out, transform .9s ease-in-out;
    will-change: opacity, transform;
  
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    margin-right: 0.7rem; 
  }
  
  .welcome-to.active{
    opacity: 1;
    transform: translateX(0);
  }
  
  

.box-iconos-intro {
    .iconos-intro{
      display: inline-block;
      width: 85px;
  
      /* estado inicial (oculto y un poco arriba) */
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity .6s ease, transform .6s ease; /* una sola vez aquí */
      will-change: opacity, transform; /* perf */
    }
  
    .iconos-intro.active{
      opacity: 1;
      transform: translateY(0); /* se desliza hacia abajo hasta su sitio */
    }
  }



  .box-link {
    position: relative;
    display: inline-flex;     /* útil si hay icono + texto */
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    width: fit-content;
    margin-top: 25px;
    color: white;
  
    /* Estado inicial: oculto y 24px más abajo */
    opacity: 0;
    transform: translateY(60px);
    transition: opacity .9s ease-in-out, transform .9s ease-in-out;
    will-change: opacity, transform;
  
    span { font-size: 1.2rem; }
  
    .glow {
      border-radius: 999px;
      background: linear-gradient(rgba(255, 105, 180, 0.4));
      inset: -3px;
      filter: blur(16px);
    }
  
    &.active {
      opacity: 1;
      transform: translateY(0);  /* sube hasta su sitio */
    }
  }
  

// .box-link::before {
//     content: "";
//     position: absolute;
//     inset: 0; /* ocupa todo el div */
//     border-radius: 999px;
//     background: rgba(255, 105, 180, 0.4);
//     filter: blur(15px);
//     z-index: -1; /* atrás del contenido */
// }




.header-intro.fadeout {
  opacity: 0;
  filter: blur(10px);
  pointer-events: none; 
}

// fin inicio welcome

.full-page{
    opacity: 0;

    @media (min-width: 640px) {
        padding-left: 5%;
        padding-right: 5%;
        
    }

    @media (min-width: 1024px) {
        padding-left: 10%;
        padding-right: 10%;
    }

   
}

.show{opacity: 1;}


.full-page.show{
    .navbar{
        filter: blur(0px);
    }
}

// estilos navbar
.navbar{
    filter: blur(10px);
    transition: all 0.6s ease-in-out;
    height: 4rem;

    .navbar-brand{
        color: #ff69b4;
        font-weight: bold;
    }
    .navbar-nav{
        gap: 17px;

        .nav-link{
            color: white;
            text-decoration: none;
            position: relative;
            padding-bottom: 5px;
            font-weight: 600;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px; 
                width: 0;
                height: 2px; 
                background: currentColor; 
                transition: width 0.3s ease; 
                background: linear-gradient(90deg, rgb(247, 192, 216) 0%, rgba(249,153,195,1) 70%);
            }

            &:hover:after, &.active::after {
                width: 100%; // la línea crece poco a poco
            }

            &.active{
                .gradient;
            }

        }
    }
}

// fin estilos navbar

// estilos pagina inicio

.pagina-inicio{
    height: 93vh;
    .container-pagina-inicio{
        margin-bottom: 84px;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        gap: 20px;
        .box-desc-inicio{
            display: flex;
            justify-content: flex-start;
            flex: 1;
            flex-direction: column;


            .box-innovate{
                .innovate-item{
                  border-radius: 90px;
                  background-color: #030014d6;
                  padding: 5px 10px;
                  display: flex;
                  gap: 5px;
                  border: 1px solid #f999c3e3;
                  position: relative;
                  align-items: center;
                  width: fit-content;

                }


                img{max-height: 23px;}
                span{
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                }

                .glow {
                  inset: -3px;
                  filter: blur(8px); 
                }
            }
            .text-inicio{
                width: fit-content;
                margin-top: 24px;
                position: relative;
                align-items: center;
                width: fit-content;
                h1{
                    color: white;
                    position: relative;
                    .glow{
                        inset: 10px;
                        filter: blur(74px);
                    }
                }
                
            }
            .typing-box{
                margin-top: 24px;
                padding-left: 5px;
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 300;
            }

            .desc-info-inicio{
                margin-top: 24px;
                color: #9CA3AF;
                font-size: 1.2rem;
                line-height: 28px;
                font-weight: 300;
                padding-left: 5px;
                padding-right: 20%;


            }

            .box-lenguaje-inicio{
                display: flex;
                gap: 15px;
                margin-top: 24px;
                padding-left: 5px;
                .lenguaje-item{
                    color: white;
                    border: solid 1px #ffffff1a;
                    border-radius: 99px;
                    padding: 9px 17PX;
                    background-color: #ffffff0d;
                }

            }

            .box-links-inicio{
                margin-top: 24px;
                padding-left: 5px;
                display: flex;
                gap: 20px;
                .link-item{
                    padding: 12px 40px;
                    width: fit-content;
                    position: relative;
                    background-color: #030014;
                    color: white;
                    border-radius: 8px;
                    .glow{
                        inset: -2px;
                        filter: blur(4px);
                    }
                    i{margin-left: 5px;}
                }
            }

            .box-redes-inicio{
              display: flex;
              margin-top: 40px;
              gap: 25px;
              padding-left: 5px;
              
              .redes-item{
                color: white;
                position: relative;
                background-color: #030014;
                padding: 11px 12px;
                padding-top: 9px;
                border-radius: 8px;
                img{
                  height: 30px;
                }
              }
              .glow{
                inset: -2px;
                filter: blur(4px);
              }
            }
                     
        }
        .box-img-inicio{
            display: flex;
            justify-content: space-around;
            flex: 1;
            opacity: 0;
            transform: translateX(100px); /* empieza fuera de la derecha */
            transition: all 1.0s ease-out;
            
        }
    }
}

/* Estado inicial oculto */
.box-innovate,
.text-inicio,
.typing-box,
.desc-info-inicio,
.box-lenguaje-inicio,
.box-links-inicio,
.box-redes-inicio {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

/* Cuando se activa la animación */
.box-innovate.show,
.text-inicio.show,
.typing-box.show,
.desc-info-inicio.show,
.box-lenguaje-inicio.show,
.box-links-inicio.show,
.box-redes-inicio.show {
  opacity: 1;
  transform: translateY(0);
}

.box-img-inicio.show {
  opacity: 1 !important;
  transform: translateX(0) !important; /* entra a su posición */
}


/* TextType.module.css */
.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  .gradient;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

/* ShinyText.jsx */
.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}


.glow{
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(90deg, #F999C3, #FFB9D8);
    z-index: -1;
}


// fin estilos pagina inicio

//estilos scroll down

/* Para Chrome, Edge y Safari */
::-webkit-scrollbar {
  width: 6px; /* grosor de la barra */
}

::-webkit-scrollbar-track {
  background: transparent; /* track transparente */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* la “rallita” al 50% */
  border-radius: 3px; /* bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7); /* efecto al pasar el mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* barra fina */
  scrollbar-color: rgba(255,255,255,0.5) transparent; /* thumb y track */
}



//fin estilos scroll down

// estilos pagina about me
.pagina-about-me{
    margin-bottom: 84px;
    //height: 100vh;

    .container-pagina-about-me{
      display: flex;
      flex-flow: column;

      .title-about-me{
        margin-bottom: 40px;
        display: flex;
        flex-flow: column;
        align-items: center;
        h2{.gradient;}
        .box-transforming{
          display: flex;
          align-items: center;
          gap: 10px;
          span{
            color: #9CA3AF;
            font-size: 1.125rem;
          }
          .gradient{background: linear-gradient(90deg, #ffddec 0%, #f999c3 12%);}
          img {
            height: 25px;
            filter: brightness(0) saturate(100%) invert(86%) sepia(12%) saturate(1646%) hue-rotate(293deg) brightness(101%) contrast(97%);
          }

        }
      }

      .info-box-about-me{
          display: flex;
          align-items: center;
        .box-img-about-me{
          flex: 1;
        }
        .box-desc-about-me{
          flex: 1;
          padding-right: 20%;


          h2{color: white;}

          .text-description{
            // padding-right: 20%;
            display: inline-block;
            margin-top: 20px;
            color: #9CA3AF;
            font-size: 1.2rem;
            line-height: 28px;
          }


          .box-frase-about-me{
            display: flex;
            border: 1px solid rgba(249, 153, 195, 0.3);
            border-radius: 16px;
            // width: fit-content;
            margin-top: 24px;

            span{
              font-size: 14px;
              padding: 1rem;
              color: white;
              font-weight: 500;
              line-height: 1.25rem;
              font-style: italic;
            }
            img{
              margin-left: 10px;
              margin-top: 10px;

            }
          }

          .box-button-about-me{
            display: flex;
            gap: 20px;
            margin-top: 24px;
            .button-cv, .button-contact{
              padding: 13px 23px;
              border: 1px solid;
              border-radius: 8px;
              font-size: 16px;
              i{margin-right: 5px;}
            }
            .button-cv{
              background: linear-gradient(90deg, #ffddec 0%, #f999c3 70%);
              border-color: transparent;
              color: white;
            }
            .button-contact{
              color: #f999c3;
            }
          }

        }
        .box-img-about-me{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          img{
            width: 320px;         
            height: 320px;        
            border-radius: 50%;   
            object-fit: cover; 
          }
          .glow{
            filter: blur(8px); 
            width: 320px;         
            height: 320px;        
            border-radius: 50%;   
            object-fit: cover; 
            }
          
        }
      }
      
      .box-expe-about-me{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 67px;
        gap: 24px;
        margin-bottom: 24px;

        .project-box, .certif-box, .years-box{
          grid-template-columns: repeat(2, 1fr);
          display: grid;
          background-color: #221C30;
          border-radius: 8px;
          padding: 24px;
          width: auto;

          transition: transform 0.5s cubic-bezier(0.25, 1, 0.3, 1), box-shadow 0.5s ease, background-color 0.5s ease;

          .first-icon{
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;
            background-color: rgba(56, 52, 69, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            img{height: 32px;}
          }
          .count{
            color: white;
            font-size: 2.25rem;
            font-weight: 700;
          }
          span{color: #9CA3AF;}
          .text{
            grid-column: 1 / span 2;
            padding-top: 15px;
            font-size: .875rem;
          }
          .line{
            font-size: .75rem;
            padding-top: 5px;
          }
          .count, .bg-icon{
            display: flex;
            justify-content: flex-end;
          }
          .bg-icon{
            align-items: flex-end;
            img{width: 22px;}
          }

        }
        
      }
    }
}

.project-box:hover, .certif-box:hover, .years-box:hover  {
  transform: scale(1.05); /* pequeño zoom */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* sombra al pasar */
  cursor: pointer;
  background-color: #2f2742 !important;
}

//Animacion de scrooleo de about me 
/* Estado inicial: ocultos y desplazados hacia abajo */
.title-about-me,
.box-transforming {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

/* Cuando se activa la animación */
.appear .title-about-me {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.2s;
}

.appear .box-transforming {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s; /* entra después del título */
}

/* Estado inicial: ocultos y desplazados hacia la izquierda */
.box-desc-about-me h2,
.box-desc-about-me span.text-description {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease;
}

/* Cuando se activa la animación */
.appear .box-desc-about-me h2:nth-child(1) {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s; /* Hello */
}

.appear .box-desc-about-me h2:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.4s; /* Julia Suarez */
}

.appear .box-desc-about-me span.text-description {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.6s; /* Texto de descripción */
}

/* Estado inicial: ocultos y desplazados hacia abajo */
.box-frase-about-me,
.button-cv,
.button-contact {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

/* Animación cuando se añade la clase appear */
.appear .box-frase-about-me {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.appear .button-cv {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

.appear .button-contact {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

/* Estado inicial: oculto y desplazado hacia abajo */
.box-img-about-me {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

/* Cuando el contenedor padre tiene la clase appear */
.appear .box-img-about-me {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s; /* Puedes ajustar el delay */
}

/* Estado inicial: ocultas y desplazadas hacia abajo */
.project-box,
.certif-box,
.years-box {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1.8s ease-out, transform 1.8s ease-out;
  will-change: opacity, transform;
}

/* Cuando el contenedor padre tiene la clase .appear2 */
.box-expe-about-me.appear2 .project-box,
.box-expe-about-me.appear2 .certif-box,
.box-expe-about-me.appear2 .years-box {
  opacity: 1;
  transform: translateY(0);
}

/* Aparición escalonada */
.box-expe-about-me.appear2 .project-box {
  transition-delay: 0.2s;
}
.box-expe-about-me.appear2 .certif-box {
  transition-delay: 0.4s;
}
.box-expe-about-me.appear2 .years-box {
  transition-delay: 0.6s;
}


//final animacion about me 

//Inicio estilos showcase
.pagina-showcase{
  margin-bottom: 84px;

  .container-pagina-showcase{
    display: flex;
    flex-flow: column;
    .titulo{
      margin-bottom: 40px;
      display: flex;
      flex-flow: column;
      align-items: center;
      h2{.gradient;}
      span{
        color: #9CA3AF;
        font-size: 1.125rem;
      }
    }
    .box-seleccionar{
      gap: 24px;
      margin-bottom: 2rem;
      padding: 8px 25px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #ffffff0d;
      border-radius: 20px;
      border: solid 1px #ffffff1a;

      .proyectos.activa, .certificates.activa, .tech-stack.activa{
        background: rgba(249, 153, 195, 0.2);
        color: white;
        img{
        filter: unset !important;
        }
        
      }
      .proyectos, .certificates, .tech-stack{
        padding: 1rem 1.5rem;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 16px;
        color: #81848d;
        img{
          margin-bottom: 5px;
          filter: invert(74%) sepia(90%) saturate(137%) hue-rotate(185deg) brightness(195%) contrast(18%);        }
      }

    }

    .box-mostrar-seleccion{
      .proyectos-mostrar, .certificates-mostrar, .tech-stack-mostrar{
        display: none;
      }
      .proyectos-mostrar.activa, .certificates-mostrar.activa, .tech-stack-mostrar.activa{
        display: grid;
      }

      .proyectos-mostrar{
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        span{
          background: rgba(249, 153, 195, 0.2);
          color: white;
          border-radius: 15px;
        }
      }
    }
    
  }
}